
  
  .page-link:hover {
    background-color: #0f9e94; /* Change to your primary-100 color */
    color: white;
  }
  
  .active .page-link {
    background-color: #0f9e94; /* Change to your primary-100 color */
    color: white;
    border: 1px solid #0f9e94; /* Change to your primary-100 color */
  }
  