.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .page-link:hover {
    background-color: #0f9e94; /* Change to your primary-100 color */
    color: white;
  }
  
  .active .page-link {
    background-color: #0f9e94; /* Change to your primary-100 color */
    color: white;
    border: 1px solid #0f9e94; /* Change to your primary-100 color */
  }
  